includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Aws\\.*#'
        - '#Access to an undefined property Aws\\.*#'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics